{% extends 'polling/base.html'%}

{% block main %}

<form method="POST" action="">{% csrf_token %}
  
  <div class="flex flex-row h-12 items-center w-full bg-indigo-50 border-b-2 border-indigo-500 rounded-b-md">
      <div class="flex-grow"></div>
      <div class="flex flex-row font text-indigo-700 bg-opacity-25 h-8 shadow-md flex flex-row items-center text-white p-1 px-4 hover:shadow-inner text-center border-2 border-indigo-600 bg-indigo-500 hover:border-indigo-700 rounded-md">
        <svg class="h-5 w-5 mr-3"xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <input type="submit" class="bg-transparent" value="Done">

      </div>

      <a type="submit" href="/polling" class="font text-indigo-700 bg-opacity-25 h-8 shadow-md flex flex-row items-center text-white p-1 px-4 mx-4 hover:shadow-inner text-center border-2 border-indigo-600 bg-indigo-500 hover:border-indigo-700 rounded-md">
        <svg class="h-5 w-5 mr-3"xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        Cancel 
      </a>


  </div>

  {% if messages %}
  <div class="flex justify-center items-center p-2 bg-yellow-500 bg-opacity-25 border-b-2 border-yellow ">
      {% for message in messages %}
      <div class="flex">
      <a>{{ message }}</a>
      </div>
      {% endfor %}
  </div>
  {% endif %}
  <div class="flex w-full h-auto items-center justify-center p-4">
    
      <div class="flex flex-row">

        <div class="poll1 font first flex flex-col mx-4 justify-center items-center">
          <a class="text-center py-2">Participant's name</a>
          <input name="p1" type="text" required class="h-12 w-52 rounded-md px-3 py-2 my-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's name">
          <input name="p1_url" type="url" class="h-12 w-52 rounded-md px-3 py-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's Image URL">
        </div>


        <div class="font first flex flex-col mx-4 justify-center">vs</div>


        <div class="poll2 font flex flex-col mx-4">
          <a class="text-center py-2">Participant's name</a>
          <input  name="p2" type="text" required class="h-12 w-52 rounded-md px-3 py-2 my-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's name">
          <input  name="p2_url" type="url" class="h-12 w-52 rounded-md px-3 py-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's Image URL">
        </div>
 

        <div class="vs3 font flex flex-col mx-4 justify-center">vs</div>


        <div class="poll3 font flex flex-col mx-4">
          <a class="text-center py-2">Participant's name</a>
          <input  name="p3" type="text" class="h-12 w-52 rounded-md px-3 py-2 my-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's name">
          <input  name="p3_url" type="url" class="h-12 w-52 rounded-md px-3 py-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's Image URL">
        </div>


        <div class="vs4 font flex flex-col mx-4 justify-center">vs</div>


        <div class="poll4 font flex flex-col mx-4">
          <a class="text-center py-2">Participant's name</a>
          <input  name="p4" type="text" class="h-12 w-52 rounded-md px-3 py-2 my-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's name">
          <input  name="p4_url" type="url" class="h-12 w-52 rounded-md px-3 py-2 border-2 border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Participant's Image URL">
        </div>



        <div class="font flex flex-col justify-center mx-4">
          <a class="add font text-indigo-700 bg-opacity-25 h-8 my-2 shadow-md flex flex-row items-center text-white p-1 px-4 hover:shadow-inner text-center border-2 border-indigo-600 bg-indigo-500 hover:border-indigo-700 rounded-md">
            <svg class="h-5 w-5 mr-3"xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Add
          </a>

          <a class="min font text-indigo-700 bg-opacity-25 h-8 my-2 shadow-md flex flex-row items-center text-white p-1 px-4 hover:shadow-inner text-center border-2 border-indigo-600 bg-indigo-500 hover:border-indigo-700 rounded-md">
            <svg class="h-5 w-5 mr-3"xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Minus
          </a>
        </div>


    </div>
    </div>

</form>

</div>
{% endblock %}